@tailwind base;
@tailwind components;
@tailwind utilities;


.checkbox:checked, .checkbox[checked=true], .checkbox[aria-checked=true] {
 
  background-color: hsl( 215 27.907% 16.863%/1);
  background-repeat: no-repeat;
  animation: checkmark var(.2s,.2s) ease-in-out;
  background-image: linear-gradient(-45deg,transparent 65%,hsl(215 27.907% 16.863%) 65.99%),linear-gradient(45deg,transparent 75%,hsl(215 27.907% 16.863%) 75.99%),linear-gradient(-45deg,hsl( 215 27.907% 16.863%) 40%,transparent 40.99%),linear-gradient(45deg,hsl( 215 27.907% 16.863%) 30%,hsl(0 0% 100%) 30.99%,hsl(0 0% 100%) 40%,transparent 40.99%),linear-gradient(-45deg,hsl(0 0% 100%) 50%,hsl( 215 27.907% 16.863%) 50.99%);
}